@model Forma1WebApp.Data.Entities.Team

@{
    ViewData["Title"] = "Delete";
}


<h3>Biztos, hogy törölni szeretné ezt a csapatot?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfFoundation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearOfFoundation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WonOfChampionship)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WonOfChampionship)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
    </dl>


    <form asp-action="Delete">
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="EditableList">Vissza a listához</a>
    </form>
</div>
